extends ../_layout/layout.pug
block content
  main
    .container-fluid.px-5.parallaxBackgroundPicture
      .row.justify-content-md-center.vCenter
        //include ../_includes/countdown.pug
        .mx-auto
          h4.text-center
            em How's it going? I'm
          h1.text-center
            strong JUSTIN SCHELLENBERG
    include ../_includes/about.pug
    include ../_includes/timeline.pug
    include ../_includes/projects.pug
    include ../_includes/treehouseStats.pug
    include ../_includes/links.pug
