#About.container-fluid.pageSectionDark
  .row.mt-5
    .col-11.offset-1.mx-auto
      h1.text-center About
  .row.my-5
    .col-sm-5.offset-sm-2.col-11.offset-1.mx-auto.order-sm-2
      img.img-fluid(src="/images/img/profile.jpeg" alt="Picture of Justin Schellenberg at Niagara Falls")
    .col-sm-5.offset-sm-2.col-11.offset-1.mx-auto.order-sm-1
      p  I am a proud Canadian born and raised in the city of Winnipeg, Manitoba. In 2017 I graduated from the University of Winnipeg with a BSc in Applied Computer Science.
      p Over the past year I have continued to work on my programming skills. Realizing my passion for web development and design, I decided to earn a tech degree online through 
        a(target="_blank" href="https://www.teamtreehouse.com") TeamTreeHouse.com.
        |  I am currently working on Full Stack Javascript and have nearly completed that course.  My love for web design has also led to several promising freelance projects for friends, 
        | family and myself, including the creation of this website! In addition, my interest in technology has opened other interesting opportunities for me, such as the field of cryptocurrency.
      p In 2013 I became involved in the cryptocurrency community, and began building and maintaining my first mining rig. The technology interested me at the time, but I treated it more like a 
        | hobby and learning opportunity. More recently, with the rise in cryptocurrency popularity, my interest has been rekindled, in part because there are many more people to collaborate with! 
        | I have recently enrolled in an online course called 
        a(target="_blank" href="https://www.udemy.com/learn-python-by-building-a-blockchain-cryptocurrency/") Learn Python by Building a Blockchain & Cryptocurrency
        |  to improve my skills. In addition, I have become involved with several new cryptocurrency projects, collaborating with people from all over the globe. 
        | My most recent project is the creation of web based code for a Masternode based community coin. ETA for launch is Q3 of 2018.
      p I also enjoy playing piano. In my spare time I learn challenging solo pieces; my current favorite composer is Nobuo Uematsu. I have competed in Tauber music festivals, and enjoy performing for friends and family.
      p  Life is exciting and full of opportunities, but new challenges go hand in hand with new stresses! Three years ago, I discovered that physical activity was a healthy way to combat stress. 
        | I learned about weight lifting and exercise through a family member, who took the time to mentor me and helped me to develop a balanced exercise and diet regimen. 
        | I will always be grateful for that! My exercise routine has become part of a healthy lifestyle for me, and I have since been able to share my experience with others.
      p Whether at the gym or online, I have found that communicating and collaborating with others has helped me to better myself, my life, and my skills. I look forward to the next new challenge to come!