#About.container-fluid.pageSectionDark
  .row.justify-content-md-center.mt-5
    h1.mx-auto About
  .row.my-5
    .col-sm-5.offset-sm-2.col-11.offset-1.mx-auto.order-sm-2
      img.img-fluid(src="/images/img/profile.jpeg" alt="Picture of Justin Schellenberg at Niagara Falls")
    .col-sm-5.offset-sm-2.col-11.offset-1.mx-auto.order-sm-1
      p   I am a Canadian born and raised in the city of Winnipeg, Manitoba. I have grown up in Winnipeg all my life. 
        | In 2017 I graduated from the University of Winnipeg with a BSc in Applied Computer Science.
      p Since graduating, I have continued to work to develop my skill set. Upon realizing I have a love and passion for web development and design, 
        | I pursued online learning through a tech degree at 
        a(href="https://www.teamtreehouse.com") TeamTreeHouse.com.
        |  Here I enrolled in their full-stack JavaScript program. I currently
        | have completed ±90% of the course. 
        | This passion is partially the reason for creating this website, and 
        | has led me to do freelance projects for friends, family, and eventually, clients.
      p   In 2013 I became involved in the cryptocurrency community through building and maintaining my first mining rig. 
        | At the time, the technology interested me and gave me a project to work on. 
        | Recently, with cryptocurrency popularity increasing, I now have even more interest than ever with this hobby. 
        | There is now more than ever so many people to collaborate with! 
        | I have recently enrolled in an online course to 
        a(href="https://www.udemy.com/learn-python-by-building-a-blockchain-cryptocurrency/") Learn Python by Building a Blockchain & Cryptocurrency.
        |  Aside from just learning, I have also become involved with two cryptocurrency projects, collaborating with other people from all over the globe.
        | My most recent project has been creating and maintaining all web based code for a Masternode based community coin. 
        | It should be expected to launch hopefully by Q3 of 2018.
      p   Life is exciting and full of opportunities. However, life isn't perfect and has just as many ups as it does downs. 
        | To combat stress, roughly three years ago, I got into physical fitness in the form of weight lifting. 
        | At the time, I was living with my cousin. He is, and always has been an active individual. He took the time to teach me how to exercise, as well as diet properly.
        | For this I am grateful. It has become a corner stone to my physical and mental health, as well as a hobby I thoroughly enjoy. 
        | Moreover, through my experience and knowledge of this hobby, I have been able to improve relationships with my own friends as they have shown interest in their own physical well-being.
      