#About.container-fluid.pageSectionDark
  .row.justify-content-md-center.mt-5
    h1.mx-auto About
  .row.my-5
    .col-sm-5.offset-sm-2.col-11.offset-1.mx-auto.order-sm-2
      img.img-fluid(src="/images/img/profile.jpeg" alt="Picture of Justin Schellenberg at Niagara Falls")
    .col-sm-5.offset-sm-2.col-11.offset-1.mx-auto.order-sm-1
      p I am a Canadian born and raised in the city of Winnipeg, Manitoba. I have grown up in this city all my life. 
        | In 2017 I graduated from the University of Winnipeg with a BSc in Applied Computer Science.
      p Since then, I have continued to work on my skill set currently to be a full stack JavaScript developer with skills in: 
        | CSS, HTML, Sass, JavaScript, Es6, Node, Express,
        | Bootstrap, JQuery, and many more. I have a love and passion about developing and maintaining web-based applications. 
        | This is partly the reason for creating this website.
        | This passion has led me to do freelance projects for friends, family, and eventually, clients.
      p Back in 2013 I had built a mining rig to contribute and become involved with the cryptocurrency community. 
        | At the time, the technology interested me and gave me a project to work on. 
        | Recently, with the cryptocurrency popularity increasing, I now have more interest than ever with this hobby. 
        | Currently, I am collaborating with other people from all over the globe working on various projects. 
        | My most recent project has been creating and maintaining all web based code for a Masternode based community coin. 
        | It should be expected to launch hopefully by Q3 of 2018.
      p Besides just tech related 
      