#Contact.container-fluid.pageSectionDark
  .row.mt-5
    .col-11.offset-1.mx-auto
      h1.text-center Contact Information
  .row.my-5.mx-3
    .col-lg-3.col-md-4.col-sm-5.offset-lg-0.col-11.mx-auto.cardStyles.text-center.my-2
      a(target="_blank" href="/uploads/resume/Justin Schellenberg Resume.pdf")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.far.fa-file-pdf.iconSize.pb-2
              h5.text-center.ml-4 Resume
              p.card-text Looking to build a website for your business?
    .col-lg-3.col-md-4.col-sm-5.offset-lg-0.col-11.mx-auto.cardStyles.text-center.my-2
      a(target="_blank" href="https://www.linkedin.com/in/justin-schellenberg-667451160/")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-linkedin.iconSize.pb-2
              h5.text-center.ml-4 LinkedIn
              p.card-text Lets get in touch! 
    .col-lg-3.col-md-4.col-sm-5.col-11.mx-auto.cardStyles.text-center.my-2
      a(target="_blank" href="https://github.com/Jrschellenberg")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-github-alt.iconSize.pb-2
              h5.text-center.ml-4 Github
              p.card-text Want to collaborate on a project together?