#scrollButtons.navigation-buttons.d-none.d-lg-block
  span.prev
  span.next
// Main Bundled Javascript
script(type="text/javascript" src="/js/bundle.js")
script.
  var scroll = new SmoothScroll('a[href*="#"]');
