footer.footer.py-4
  .container-fluid
    .row.mx-auto.justify-content-center.pt-1.md-4
      a.closeMenu(data-scroll href="#")
        img(style="height: 4rem;" src="/images/logo/logo.svg" alt="Brand")
    .row.justify-content-center.py-1.mx-4
      .navbar.navbar-expand-sm.navbar-right.secondary-text.navbar-light
        .container-fluid
          span.sr-only (current)
          button#toggleExpandMenu.navbar-toggler.mx-auto.align-content-center(type="button" data-toggle="collapse" data-target="#footerNav" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          #footerNav.collapse.navbar-collapse.mx-auto.shift
            ul.navbar-nav.navbar-expand.mx-sm-4.d-block.d-sm-flex.mx-auto
              li.nav-item
                a.nav-link.closeMenu(data-scroll href="#About") About
              li.nav-item
                a.nav-link.closeMenu(data-scroll href="#Timeline") Accomplishments
              li.nav-item
                a.nav-link.closeMenu(data-scroll href="#Projects") Projects
              li.nav-item
                a.nav-link.closeMenu(data-scroll href="#Treehouse") Treehouse
              li.nav-item
                a.nav-link.closeMenu(data-scroll href="#Contact") Contact
    .row.justify-content-center.py-0.shift
// Main Bundled Javascript
script(type="text/javascript" src="/js/bundle.js")
script.
  var scroll = new SmoothScroll('a[href*="#"]');
