#Links.container-fluid.pageSection
  .row.justify-content-center.mt-5
    h1.mx-auto Links
  .row.my-5.mx-3
    .col-lg-3.col-md-4.col-sm-5.offset-lg-0.col-11.mx-auto.cardStyles.text-center.my-2
      a(href="https://bitcointalk.com").svgHover
        .card
          .card-body
            span.card-title.text-center.p-4
              svg(version="1.0" xmlns="http://www.w3.org/2000/svg" height="3rem" viewbox="0 0 842.000000 647.000000" preserveaspectratio="xMidYMid meet")
                g(transform="translate(0.000000,647.000000) scale(0.100000,-0.100000)" stroke="none")
                  path(d="M0 3235 l0 -3235 4210 0 4210 0 0 3235 0 3235 -4210 0 -4210 0 0\
                      -3235z m4768 2916 c425 -65 814 -218 1197 -472 416 -276 705 -559 948 -929\
                      237 -361 376 -759 439 -1255 26 -209 9 -816 -23 -836 -14 -8 -339 -43 -345\
                      -36 -3 3 3 65 13 139 22 164 25 583 5 723 -61 422 -195 777 -424 1120 -122\
                      183 -201 279 -362 440 -223 223 -418 360 -708 500 -834 401 -1779 359 -2576\
                      -113 -377 -224 -717 -567 -925 -933 l-26 -45 176 -208 c96 -114 173 -209 171\
                      -211 -4 -4 -942 -112 -947 -109 -6 5 71 225 121 349 350 853 961 1419 1865\
                      1729 235 80 522 143 754 166 150 14 494 4 647 -19z m-32 -450 c759 -131 1356\
                      -517 1778 -1151 42 -63 114 -189 160 -280 244 -487 317 -1020 222 -1604 -13\
                      -78 -22 -142 -21 -144 2 -2 87 6 190 18 162 19 211 21 194 7 -2 -2 -233 -30\
                      -514 -62 -280 -31 -527 -60 -547 -64 l-37 -6 205 -242 c112 -134 204 -248 204\
                      -254 0 -18 -139 -222 -216 -318 -92 -113 -247 -268 -369 -364 -381 -305 -806\
                      -489 -1302 -564 -156 -23 -528 -23 -688 0 -596 89 -1104 336 -1500 732 -242\
                      241 -466 577 -590 885 -183 453 -229 977 -131 1491 8 41 12 77 11 80 -4 5\
                      -243 -19 -365 -36 -33 -5 -42 -4 -34 4 6 6 253 39 550 73 296 33 543 64 548\
                      68 4 5 -82 115 -193 247 -110 131 -201 243 -201 249 0 6 36 65 79 130 369 555\
                      969 951 1651 1088 194 39 266 45 540 41 202 -2 280 -7 376 -24z m-3056 -1949\
                      c0 -10 -8 -68 -17 -128 -24 -161 -25 -607 0 -764 93 -590 357 -1102 788 -1527\
                      406 -400 888 -637 1504 -740 158 -26 599 -26 770 1 483 74 950 281 1321 584\
                      219 179 437 428 571 650 l62 103 -174 207 c-143 169 -172 208 -157 214 22 8\
                      923 111 928 105 3 -2 -9 -46 -26 -97 -194 -595 -526 -1093 -961 -1444 -410\
                      -331 -1000 -586 -1564 -677 -166 -27 -539 -37 -712 -20 -342 35 -658 129 -978\
                      291 -362 183 -671 411 -956 707 -539 560 -813 1304 -785 2133 5 163 21 369 29\
                      376 2 3 303 41 340 43 10 1 17 -6 17 -17z")
                  path(d="M3400 5152 c-19 -15 -68 -225 -376 -1607 -194 -875 -354 -1602 -354\
                      -1616 0 -14 8 -33 18 -42 16 -14 502 -130 511 -122 5 5 342 1557 339 1560 -2\
                      2 -78 18 -171 37 -92 18 -168 37 -168 41 0 5 172 168 383 362 281 261 385 351\
                      390 340 8 -13 398 -956 398 -960 0 -1 -39 7 -86 17 -47 11 -87 18 -90 16 -5\
                      -6 393 -1685 406 -1709 12 -22 5 -20 403 -109 297 -67 319 -71 342 -56 13 8\
                      26 23 29 33 17 53 706 3171 706 3193 0 15 -8 34 -18 43 -16 14 -380 103 -388\
                      94 -8 -8 -295 -1349 -290 -1354 3 -3 80 -21 172 -39 92 -19 169 -35 170 -37 2\
                      -1 -171 -163 -383 -360 -213 -196 -390 -354 -395 -349 -11 11 -398 955 -394\
                      960 3 2 75 -12 162 -32 87 -19 161 -33 163 -30 4 4 -70 316 -281 1186 -38 157\
                      -75 294 -82 303 -9 13 -155 49 -546 136 -294 66 -537 119 -541 119 -4 0 -17\
                      -8 -29 -18z")
    .col-lg-3.col-md-4.col-sm-5.col-11.mx-auto.cardStyles.text-center.my-2
      a(href="https://bitcointalk.com")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-bitcoin.iconSize
    .col-lg-3.col-md-4.col-sm-5.col-11.mx-auto.cardStyles.text-center.my-2
      a(href="https://github.com/ndx-team/")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-github-square.iconSize
    //.col-lg-3.col-md-4.col-sm-5.col-11.mx-auto.cardStyles.text-center.my-2
    //  .card
    //    .card-body
    //      span.card-title.text-center.p-4
    //        img(style="height: 3rem;" src="/images/logo/logo.svg" alt="Brand")
    //.col-lg-3.col-md-4.col-sm-5.col-11.mx-auto.cardStyles.text-center.my-2
    //  .card
    //    .card-body
    //      span.card-title.text-center.p-4
    //        img(style="height: 3rem;" src="/images/logo/logo.svg" alt="Brand")
    //.col-lg-3.col-md-4.col-sm-5.col-11.mx-auto.cardStyles.text-center.my-2
    //  .card
    //    .card-body
    //      span.card-title.text-center.p-4
    //        img(style="height: 3rem;" src="/images/logo/logo.svg" alt="Brand")
  .row.my-5.mx-3.justify-content-center
    h1.mx-auto Masternode setup guides
  .row.my-5.mx-3
    .col-lg-3.col-md-4.col-sm-5.offset-lg-0.col-11.mx-auto.cardStyles.text-center.my-2
      a(href="#")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-windows.iconSize.pb-2
              h5.text-center.ml-4 Windows Guide
    .col-lg-3.col-md-4.col-sm-5.col-11.mx-auto.cardStyles.text-center.my-2
      a(href="#")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-linux.iconSize.pb-2
              h5.text-center.ml-4 Linux 16.04 Setup Guide