nav#navigation.navbar.navbar-expand-lg.navbar-right.secondary-text.navbar-light
  .container-fluid
    span.sr-only (current)
    button#toggleExpandMenu.navbar-toggler.m-2(type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    img.d-lg-none.mx-auto(style="height: 4rem;" src="/images/logo/logo.svg" alt="Brand")
    #navbarsExample03.collapse.navbar-collapse.mx-auto.shift
      ul.navbar-nav.mx-auto
        li.nav-item
          a.nav-link.closeMenu(data-scroll href="#About") About
        li.nav-item
          a.nav-link.closeMenu(data-scroll href="#Specs") Specs
        li.nav-item
          a.nav-link.closeMenu(data-scroll href="#Wallets") Wallets
        //li.nav-item
        //  a#icoOfferingLink.nav-link.comingSoon(href="#" data-initialText="ICO Offering") ICO Offering
        img.d-none.d-lg-inline-block.mx-5(style="height: 4rem;" src="/images/logo/logo.svg" alt="Brand")
        li.nav-item
          a.nav-link.closeMenu(data-scroll href="#Roadmap") Roadmap
        li.nav-item
          a.nav-link.closeMenu(data-scroll href="#Links") Links