nav#navigation.row.navbar.navbar-expand-lg.navbar-dark.navbar-right.fixed-top.secondary-text
  .container
    a#homeLink.navbar-brand.nav-link(href="/")
      img(style="width: 10rem;" src="/images/logo/logo.svg" alt="Ascension")
      span.sr-only (current)
    button#toggleExpandMenu.navbar-toggler.m-2(type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarsExample03.collapse.navbar-collapse.ml-auto
      ul.navbar-nav
        li.nav-item
          a#showcaseLink.nav-link(href="/Showcase") Showcase
        li.nav-item
          a#aboutLink.nav-link.comingSoon(href="#" data-initialText="About Us") About Us
        li.nav-item
          a#whitePaperLink.nav-link.comingSoon(href="#" data-initialText="White Paper") White Paper
        li.nav-item
          a#storyLineLink.nav-link.comingSoon(href="#" data-initialText="News") News
        //li.nav-item
        //  a#icoOfferingLink.nav-link.comingSoon(href="#" data-initialText="ICO Offering") ICO Offering
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link.comingSoon(href="#" data-initialText="Support") Support
        li.nav-item
          a.nav-link.comingSoon(href="#" data-initialText="My Account") My Account
        //li.nav-item.dropdown
        //  a#dropdown03.nav-link.dropdown-toggle(href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") My Account
        //  .dropdown-menu(aria-labelledby="dropdown03")
        //    a#loginLink.dropdown-item.comingSoon(href="#" data-initialText="Login") Login
        //    .dropdown-divider
        //    a#registerLink.dropdown-item.comingSoon(href="#" data-initialText="Register") Register