#Projects.container-fluid.pageSectionDark
  .row.justify-content-md-center.mt-5
    h1.mx-auto Projects
  .row.my-5
    .col-11.offset-1.mx-auto
      p.text-center Below is a list of projects that I have completed recently over the past year while pursuing education, passions, and interests.
  .row
    .col-11.offset-1.mx-auto
      h3.text-center TeamTreeHouse Tech Degree Projects
  .row.my-5.mx-3
    .col-lg-4.col-sm-5.offset-sm-1.mx-auto.cardStyles.text-center.my-2.col-11
      a(target="_blank" href="https://expresslibrary.schellenberg.site")
        .card.projectCards
          .card-body
            span.card-title.text-center.p-4
              i.fas.fa-book.iconSize.pb-2
              h5.text-center.ml-4 Express Library Manager
            p.card-text A Sample project creating a LIbrary Manager using Express, Sequelize and Jade.
    .col-lg-4.col-sm-5.mx-auto.cardStyles.text-center.my-2.col-11
      a(target="_blank" href="https://interactiveform.schellenberg.site")
        .card.projectCards
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-wpforms.iconSize.pb-2
              h5.text-center.ml-4 Interactive Form
            p.card-text Project using JQuery and JavaScript to enhance a form. Enhances form by adding user interactivity, 
              | as well as displaying helpful error messages upon invalid information
    .col-lg-4.col-sm-5.mx-auto.cardStyles.text-center.my-2.col-11
      a(target="_blank" href="https://tictactoe.schellenberg.site")
        .card.projectCards
          .card-body
            span.card-title.text-center.p-4
              i.fas.fa-hashtag.iconSize.pb-2
              h5.text-center.ml-4 Tic-Tac-Toe
            p.card-text A project using object oriented JavaScript to simulate a Tic-Tac-Toe game
    .col-lg-4.col-sm-5.mx-auto.cardStyles.text-center.my-2.col-11
      a(target="_blank" href="https://pagination.schellenberg.site")
        .card.projectCards
          .card-body
            span.card-title.text-center.p-4
              i.fas.fa-exchange-alt.iconSize.pb-2
              h5.text-center.ml-4 Pagination and Content Filter
            p.card-text A Project that uses JQuery plugins to enhance the usability of a web page that has too much information. 
              | Makes page navigation easier through pagination   
    .col-lg-4.col-sm-5.mx-auto.cardStyles.text-center.my-2.col-11
      a(target="_blank" href="https://quotegenerator.schellenberg.site")
        .card.projectCards
          .card-body
            span.card-title.text-center.p-4
              i.fas.fa-quote-right.iconSize.pb-2
              h5.text-center.ml-4 Random Quote Generator
            p.card-text A Project that creates a random quote generator to display random quotations on the screen after a button on the page is clicked
    .col-lg-4.col-sm-5.mx-auto.cardStyles.text-center.my-2.col-11
      a(target="_blank" href="https://recipebook.schellenberg.site")
        .card.projectCards
          .card-body
            span.card-title.text-center.p-4
              i.fas.fa-utensils.iconSize.pb-2
              h5.text-center.ml-4 Recipe Book Angular Application
            p.card-text Your run of the mill recipe book single page application. Created using JavaScript's AngularJS. Project communicates with a Node.js REST API on the server. 
              | Allowing user to add, edit, retrieve and display recipes through a seamless front end user experience.
  .row
    .col-11.offset-1.mx-auto
      h3.text-center CryptoCurrency/Blockchain Related Projects
  .row.my-5.mx-3
    .col-lg-4.col-sm-5.offset-sm-1.mx-auto.cardStyles.text-center.my-2.col-11.order-1
      a(target="_blank" href="https://shekel.schellenberg.site")
        .card.projectCards
          .card-body
            span.card-title.text-center.p-4
              i.fas.fa-search.iconSize.pb-2
              h5.text-center.ml-4 Shekel Block Explorer
            p.card-text A block explorer for viewing all of the data on the blockchain for the cryptocurrency Shekel
    .col-lg-4.col-sm-5.offset-sm-1.mx-auto.cardStyles.text-center.my-2.col-11.order-2.order-sm-3.order-lg-2
      a(target="_blank" href="https://mncalculator.schellenberg.site")
        .card.projectCards
          .card-body
            span.card-title.text-center.p-4
              i.fas.fa-database.iconSize.pb-2
              h5.text-center.ml-4 Masternode ROI Calculator
            p.card-text A front-end application created with jekyll, bootstrap, and JQuery. Application is used to calculate, plot, 
            | and graph statistical analysis of Masternode ROI curve based off of users input of blockchain based variables.
    .col-lg-4.col-sm-5.offset-sm-1.mx-auto.cardStyles.text-center.my-2.col-11.order-3.order-sm-2.order-lg-3
      a(target="_blank" href="https://nort.schellenberg.site")
        .card.projectCards
          .card-body
            span.card-title.text-center.p-4
              i.fas.fa-search.iconSize.pb-2
              h5.text-center.ml-4 Northern Block Explorer
            p.card-text A block explorer for viewing all of the data on the blockchain for the cryptocurrency Northern