#Timeline.container-fluid.pageSection
  .row.mt-5
    .col-11.offset-1.mx-auto
      h1.text-center My Recent Accomplishments
  .row.justify-content-md-center.mt-5.mx-2
    .page-header
      h1 2017
    ul.timeline
      li
        .timeline-badge.success
          svg(version="1.0" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 300.000000 327.000000" preserveaspectratio="xMidYMid meet")
            g(transform="translate(0.000000,327.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none")
              path(d="M1424 2627 c-18 -7 -199 -106 -404 -222 -386 -218 -407 -233 -436\
                  -312 -16 -47 -20 -846 -4 -904 24 -85 42 -98 455 -332 l390 -221 75 -1 75 0\
                  389 220 c275 156 396 229 413 252 51 66 52 78 52 528 0 450 -1 462 -52 528\
                  -23 30 -143 105 -194 121 -36 11 -97 -11 -146 -54 -46 -41 -179 -255 -205\
                  -329 -18 -52 -14 -140 8 -190 22 -47 98 -147 150 -196 60 -57 76 -120 44 -175\
                  -18 -30 -58 -57 -89 -60 -49 -5 -70 2 -106 39 -35 35 -39 44 -39 89 0 81 -39\
                  152 -83 152 -29 0 -74 -37 -101 -83 -34 -58 -70 -200 -61 -246 21 -124 14\
                  -159 -44 -200 -81 -58 -182 -24 -215 74 -19 55 -3 107 45 149 21 18 45 49 54\
                  69 23 56 117 398 111 404 -3 4 -22 -28 -41 -70 -29 -63 -38 -74 -55 -70 -36 9\
                  -141 -77 -185 -153 -50 -85 -140 -98 -202 -30 -27 29 -33 44 -33 81 0 55 40\
                  106 98 123 21 7 76 36 123 65 89 56 302 218 295 224 -2 3 -37 -13 -77 -33 -51\
                  -26 -98 -42 -150 -50 -55 -8 -86 -19 -111 -38 -66 -50 -153 -27 -178 48 -14\
                  44 -5 77 31 112 l30 29 167 0 167 0 66 32 c92 45 144 102 221 240 71 127 91\
                  187 81 246 -7 48 -34 74 -124 120 -80 40 -143 48 -205 24z")
        .timeline-panel
          .timeline-heading
            h4.timeline-title January/2017
            hr
          .timeline-body
            h3 Treehouse Full-stack JavaScript course
            p Resumed work with online Full-stack JavaScript course. If you are interested and would like to learn more about this course please click 
              a(target="_blank" href="https://teamtreehouse.com/techdegree/full-stack-javascript") here.
              |  I highly recommend it to anyone who is interested in learning web development, front-end or back-end!
      li.timeline-inverted
        .timeline-badge
          i.fas.fa-graduation-cap
        .timeline-panel
          .timeline-heading
            h4.timeline-title June/2017
            hr
          .timeline-body
            h3 Graduation!
            p Graduated from the University of Winnipeg with BSc in Applied Computer Science.
      li
        .timeline-badge.danger
          i.fas.fa-file-medical-alt
        .timeline-panel
          .timeline-heading
            h4.timeline-title August/2017
            hr
          .timeline-body
            h3 Contract with CFMS
            p I Began work as a remote contractor for the CFMS (Canadian Federation of Medical Students). My job was to 
              | collaborate with the CFMS's Information Technology Senior to do the following: fix their github issues, implement new features, 
              | and transfer existing features from their old website. If you want to visit the website please visit the 
              a(target="_blank" href="https://www.cfms.org") CFMS website here.
      li.timeline-inverted
        .timeline-badge.info
          i.fas.fa-sitemap
        .timeline-panel
          .timeline-heading
            h4.timeline-title December/2017
            hr
          .timeline-body
            h3 Built first website from scratch!
            p My Dad moved to Toronto, Canada about two years ago, where he started his own business doing home renovations. 
              | He dedicates time and care to his projects. His opportunities have been growing through word of mouth, and have led 
              | to a business partnership with a friend. At this stage, dad needed a small  website to host pictures of completed home renovation 
              | projects to show potential customers. I designed a website to portfolio his work. Keeping in mind that this was my first project, 
              a(target="_blank" href="https://schuuly.github.io") click here
              |  to see my work...and my father's!
  .row.justify-content-md-center.mx-2
    .page-header
      h1 2018
    ul.timeline
      li
        .timeline-badge.success
          i.fab.fa-bitcoin
        .timeline-panel
          .timeline-heading
            h4.timeline-title January/2018
            hr
          .timeline-body
            h3 My Cryptocurrency miner pays off!
            p With the rapid spike in the cryptocurrency market, it was time to sell the coins I had mined. I was fortunate enough 
              | to make a nice profit! I invested some of my profits in another mining rig, and used the rest updating my computer's graphics! 
              | My good fortune led me to become even more involved in the cryptocurrency space.
      li.timeline-inverted
        .timeline-badge
          i.fas.fa-file-medical-alt
        .timeline-panel
          .timeline-heading
            h4.timeline-title February/2018
            hr
          .timeline-body
            h3 Contract with CFMS finished.
            p I completed all work that was quoted and estimated. Currently, I'm in discussion with the CFMS to extend my contract.
      li
        .timeline-badge.danger
          i.fab.fa-btc
        .timeline-panel
          .timeline-heading
            h4.timeline-title March/2018
            hr
          .timeline-body
            h3 Freelance contract with a startup 
            p I Began work with a Cryptocurrency startup. However, as I signed a NDA, this is all I may say at this time!
      li.timeline-inverted
        .timeline-badge.info
          i.fab.fa-python
        .timeline-panel
          .timeline-heading
            h4.timeline-title May/2018
            hr
          .timeline-body
            h3 Enrolled in an online Python course.
            p A friend's recent enthusiasm for an online course motivated me to do a little research of my own.
              | I found the perfect course for me! I had been wanting to pick up another programming language and Python appealed to me. 
              | I am currently a quarter of the way through the course and I'm loving it!