#Timeline.container-fluid.pageSection
  .row.mt-5
    .col-11.offset-1.mx-auto
      h1.text-center My Recent Accomplishments
  .row.justify-content-md-center.mt-5.mx-2
    .page-header
      h1 2017
    ul.timeline
      li
        .timeline-badge.success
          svg(version="1.0" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 300.000000 327.000000" preserveaspectratio="xMidYMid meet")
            g(transform="translate(0.000000,327.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none")
              path(d="M1424 2627 c-18 -7 -199 -106 -404 -222 -386 -218 -407 -233 -436\
                  -312 -16 -47 -20 -846 -4 -904 24 -85 42 -98 455 -332 l390 -221 75 -1 75 0\
                  389 220 c275 156 396 229 413 252 51 66 52 78 52 528 0 450 -1 462 -52 528\
                  -23 30 -143 105 -194 121 -36 11 -97 -11 -146 -54 -46 -41 -179 -255 -205\
                  -329 -18 -52 -14 -140 8 -190 22 -47 98 -147 150 -196 60 -57 76 -120 44 -175\
                  -18 -30 -58 -57 -89 -60 -49 -5 -70 2 -106 39 -35 35 -39 44 -39 89 0 81 -39\
                  152 -83 152 -29 0 -74 -37 -101 -83 -34 -58 -70 -200 -61 -246 21 -124 14\
                  -159 -44 -200 -81 -58 -182 -24 -215 74 -19 55 -3 107 45 149 21 18 45 49 54\
                  69 23 56 117 398 111 404 -3 4 -22 -28 -41 -70 -29 -63 -38 -74 -55 -70 -36 9\
                  -141 -77 -185 -153 -50 -85 -140 -98 -202 -30 -27 29 -33 44 -33 81 0 55 40\
                  106 98 123 21 7 76 36 123 65 89 56 302 218 295 224 -2 3 -37 -13 -77 -33 -51\
                  -26 -98 -42 -150 -50 -55 -8 -86 -19 -111 -38 -66 -50 -153 -27 -178 48 -14\
                  44 -5 77 31 112 l30 29 167 0 167 0 66 32 c92 45 144 102 221 240 71 127 91\
                  187 81 246 -7 48 -34 74 -124 120 -80 40 -143 48 -205 24z")
        .timeline-panel
          .timeline-heading
            h4.timeline-title January/2017
            hr
          .timeline-body
            h3 Treehouse Full-stack JavaScript course
            p Resumed progress with my online Full-stack JavaScript course. If you are interested and would like to learn more about this course please click 
              a(target="_blank" href="https://teamtreehouse.com/techdegree/full-stack-javascript") here.
              |  I highly recommend it anyone who is interested in learning web development, front-end or back-end!
      li.timeline-inverted
        .timeline-badge
          i.fas.fa-graduation-cap
        .timeline-panel
          .timeline-heading
            h4.timeline-title June/2017
            hr
          .timeline-body
            h3 Graduation!
            p Graduated from the University of Winnipeg. Finishing my BSc in Applied Computer Science.
      li
        .timeline-badge.danger
          i.fas.fa-file-medical-alt
        .timeline-panel
          .timeline-heading
            h4.timeline-title August/2017
            hr
          .timeline-body
            h3 Contract with CFMS
            p I Began work as a remote contractor for the CFMS (Canadian Federation of Medical Students). My job was to 
              | collaborate with the CFMS's Information Technology Senior to do the following: fix the majority of their github issues, implement new features, 
              | and implement existing features from their old website. If you want to visit the website please visit the 
              a(target="_blank" href="https://www.cfms.org") CFMS website here.
      li.timeline-inverted
        .timeline-badge.info
          i.fas.fa-sitemap
        .timeline-panel
          .timeline-heading
            h4.timeline-title December/2017
            hr
          .timeline-body
            h3 Built first website from scratch!
            p My Dad moved to Toronto, Canada about two years ago. He has since then started a self employed business doing renovations for customers.
              | He dedicates time and care to his projects. Therefore, through word of mouth, his opportunities have been growing and has led to a business partnership forming with his friend Tony in doing home renovations. 
              | With his business at this stage, he required a small scale website to host pictures of projects that he has completed to show customers.
              | I took it as a challenge and made him a website that he could use to portfolio his work.
              | Being my first build from scratch, it needs an update as my skills have improved. Nevertheless please visit 
              a(target="_blank" href="https://schuuly.github.io") the website here
              |  to take a look at my work, as well as my fathers!
  .row.justify-content-md-center.mx-2
    .page-header
      h1 2018
    ul.timeline
      li
        .timeline-badge.success
          i.fab.fa-bitcoin
        .timeline-panel
          .timeline-heading
            h4.timeline-title January/2018
            hr
          .timeline-body
            h3 My Cryptocurrency miner pays off!
            p With the rapid Spike increase in the cryptocurrency marketplace, it was time to sell my coins. 
              | I was fortunate enough to be able to make a nice profit selling all coins I had mined. With some of the profits I reinvested, building another mining rig. I also spent the money updating my computer's graphics! 
              | This excited led me to become even more involved in the cryptocurrency space.
      li.timeline-inverted
        .timeline-badge
          i.fas.fa-file-medical-alt
        .timeline-panel
          .timeline-heading
            h4.timeline-title February/2018
            hr
          .timeline-body
            h3 Contract with CFMS finished.
            p I completed all work that was quoted and estimated. 
              | Currently, we are working out a possibility of me being contracted on retainer with the CFMS.
      li
        .timeline-badge.danger
          i.fab.fa-btc
        .timeline-panel
          .timeline-heading
            h4.timeline-title March/2018
            hr
          .timeline-body
            h3 Freelance contract with a startup 
            p Began work with a Cryptocurrency startup. However, as I signed a non-disclosure agreement, this is all I may say at this time!
      li.timeline-inverted
        .timeline-badge.info
          i.fab.fa-python
        .timeline-panel
          .timeline-heading
            h4.timeline-title May/2018
            hr
          .timeline-body
            h3 Enrolled in an online Python course.
            p A friend of mine had messaged me saying I should take a look at this online course he found. After doing some research into what he suggested 
              | I found the perfect course. I had recently been wanting to expand my horizons into another programming language and this course appeals to something I am passionate about. 
              | I have currently completed a quarter of this course and am loving it! 