#Specs.container-fluid.pageSection
  .row.justify-content-center.mt-5
    h1.mx-auto Team Treehouse Statistics
  .row.justify-content-md-center.mt-5.mx-5
    .col-lg-4.col-md-10.offset-md-2.mx-auto.text-center.my-2.col-11.order-lg-2.d-flex.align-items-stretch.card
      .card-body
        span.card-title.text-center.p-4
          i.fab.fa-btc.iconSize.pb-2
          h5.text-center.ml-4 Coin Information:
        .card-text
          .container-fluid
            .row.justify-content-center.mt-1
              p.text-center Ticker: NDX
            .row.justify-content-center
              p.text-center Max Supply: Lorem Ipsum Lorem
            .row.justify-content-center
              p.text-center Block Reward: Lorem Ipsum Lorem
            .row.justify-content-center
              p.text-center Tx Fee: Lorem Ipsum Lorem
            .row.justify-content-center
              p.text-center Mainnet
            .row.justify-content-center
              p.text-center P2P Port: Lorem Ipsum Lorem
            .row.justify-content-center.mb-5
              p.text-center RPC Port: Lorem Ipsum Lorem 
    .col-lg-4.col-md-5.mx-auto.text-center.my-2.col-11.order-lg-1.d-flex.align-items-stretch.card
      .card-body
        span.card-title.text-center.p-4
          i.fab.fa-connectdevelop.iconSize.pb-2
          h5.text-center.ml-4 Masternode Information:
        .card-text
          p.text-center Masternode Collateral: Lorem ipsum
          p.text-center Masternode Reward: Lorem ipsum
    .col-lg-4.col-md-5.mx-auto.cardStyles.text-center.my-2.col-11.order-lg-3.d-flex.align-items-stretch.card
      .card-body
        span.card-title.text-center.p-4
          i.fas.fa-dollar-sign.iconSize.pb-2
          h5.text-center.ml-4 Rewards
        .card-text
          p.text-center POW Rewards: Lorem ipsum Lorem ipsum Lorem ipsum 
          p.text-center Reward Per Block: Lorem ipsum 
          p.text-center Reward Halving: Lorem ipsum  Lorem ipsum 
          p.text-center Mining algorithm: Lorem ipsum Lorem ipsum 
          p.text-center Premine: Lorem ipsum Lorem ipsum