doctype html
html
  head
    include ../_includes/head.pug
  body
    .wrapper.mainContent
      .container-fluid
        #content
          include ../_includes/main-nav.pug
          block content
    include ../_includes/footer.pug