#Wallets.container-fluid.pageSectionDark
  .row.justify-content-center.mt-5
    h1.mx-auto WALLETS
  .row.my-5.mx-3
    .col-lg-4.col-sm-5.offset-sm-1.mx-auto.cardStyles.text-center.my-2.col-11
      a(href="#")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-windows.iconSize.pb-2
              h5.text-center.ml-4 WIN QT 64
    .col-lg-4.col-sm-5.mx-auto.cardStyles.text-center.my-2.col-11
      a(href="#")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-windows.iconSize.pb-2
              h5.text-center.ml-4 WIN QT 32
    .col-lg-4.col-sm-5.mx-auto.cardStyles.text-center.my-2.col-11
      a(href="#")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-linux.iconSize.pb-2
              h5.text-center.ml-4 UB 16.04 QT
    .col-lg-4.col-sm-5.mx-auto.cardStyles.text-center.my-2.col-11
      a(href="https://www.github.com/ndx-team/" target="_blank")
        .card
          .card-body
            span.card-title.text-center.p-4
              i.fab.fa-github-square.iconSize.pb-2
              h5.text-center.ml-4 Source Code